/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/******************************************** 
 リセット用
*********************************************/
* {
  box-sizing: border-box;
}

html,
body,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div {
  margin: 0;
  padding: 0;
}


/* ヘッダー */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 65px;
  background-color: #1c3667;
}
.header_title {
  font-family: "Roboto", sans-serif;
  font-size: 23px;
  font-weight: 100;
  line-height: 1.8px;
  color: #fff;
}
.header_button {
  font-size: 16px;
  color: #3a3736;
  background-color: #fff;
  border-radius: 5px;
  width: 80px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
/* ヘッダー */
.main {
  height: calc(100vh - 65px);
  width: 100vw;
  background-color: #f2f2f3;
  display: flex;
  justify-content: center;
}
